* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
} 

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  background-color: #ececec;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.headerDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.headerDiv ul {
  display: flex;
  gap: 1rem;
}

.headerDiv ul a {
  text-decoration: none;
  color: #000;
}

.headerDiv ul a:hover {
  text-decoration: underline;
}

main {
  margin-top: 74px;
  display: grid;
  place-content: center;
  place-items: center;
  padding: 1rem;
}

main .cardsContainer {
  max-width: 1100px;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 50px;
  text-wrap: balance;
}

main .cardsContainer .card {
  background: linear-gradient(to right, #8244c4, #649cfd);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #0000008a;
  transition: scale 0.3s linear, translate 0.3s linear;
}

main .cardsContainer .card:hover {
  scale: 1.03;
  translate: 0 -5px;
}

main .cardsContainer .card h2 {
  margin-bottom: 1rem;
  text-shadow: #000000 0px 0px 10px;
}

main .cardsContainer .card p {
  margin-bottom: 1rem;
}

main .cardsContainer .card a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

main .cardsContainer .card a:hover {
  text-decoration: underline;
  color: #fff9cb;
  transition: color 0.3s linear;
}

main .cardsContainer .card a::after {
  content: "➡️";
}

main .cardsContainer .card:first-child {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  grid-column: 1/4;
}

.servisios {
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1100px;
  gap: 1rem;
  padding: 1rem;
}

.servisios article {
  display: grid;
  place-items: center;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #0000001a;
  transition: scale 0.3s linear, translate 0.3s linear;
}

.servisios article:hover {
  scale: 1.03;
  translate: 0 -5px;
}

.servisios article h3 {
  color: #fff;
  margin-bottom: 1rem;
}

.servisios article a {
  text-decoration: none;
  color: #000;
  background-color: #a9ffae;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin: 10px 0;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s linear;
}

.servisios article a:hover {
  background-color: #00ff0d;
  scale: 1.05;
}

.servisios article button {
  text-decoration: none;
  color: #000;
  background-color: #a9ffae;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin: 10px 0;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s linear;
}

.servisios article button:hover {
  background-color: #00ff0d;
  scale: 1.05;
}

dialog[open] {
  scale: 1;
  transition: scale 0.3s ease-in-out;
  @starting-style{
    scale: 0;
  };
}

dialog {
  transition: scale .3s ease,
    display .3s ease allow-discrete;
  scale: 0;
  display: grid;
  place-items: center;
  inset: 0;
  margin: auto;
  padding: 10px;
  width: 70dvw;
  height: 80dvh;
  border: none;
  border-radius: 20px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-around;
  padding: 1rem;
  background-color: #fff;
}

.iconMenu {
  display: none;
  cursor: pointer;
}

@media (width < 768px) {
  .headerDiv {
    justify-content: space-between;
  }

  .headerDiv ul {
    display: block;
  }

  .headerDiv .iconMenu {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 73px;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: none;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  #Menu:checked ~ .navbar {
    display: block;
  }

  main .cardsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  main .cardsContainer .card {
    grid-column: 1 / -1;
  }

  main .cardsContainer .card:first-child {
    grid-column: 1 / -1;
  }

  .servisios {
    grid-template-columns: 1fr;
  }

  dialog {
    width: 90dvw;
    height: 90dvh;
  }

  footer :last-child {
    text-align: end;
  }
}